.navbar-side {
  background-color: #efefef;
  height: 100vh;
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 10%;
    svg {
      color: #f1687c;
    }
    li {
      padding-bottom: 5%;
      padding-top: 5%;
    }
    span {
      padding-left: 5%;
      color: black;
    }
  }

  .nav-header {
    font-size: 1.5rem;
    background-color: #e0e0e0;
    height: 8%;
    min-width: 150px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    span {
      color: black;
    }
  }

  .nav-items {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    :hover {
      color: #fa7d90;
    }
    .select {
      span {
        color: #f1687c;
      }
    }
  }
}
