.main {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
  .nav {
    width: 15%;
    display: flex;
    justify-content: flex-start;
  }
  .calendarStyle {
    width: 60%;
    display: flex;
    justify-content: flex-start;
  }
  .community {
    width: 25%;
    display: flex;
    justify-content: flex-start;
  }
}
